@model DataStructure.Tree.TreeItem<FLUX.DomainObjects.MultiLayerDataContainer>

<div class="TopHeadlineContainer">
    
    <div class="ContentWrapper Artist">  
        <div class="float-left origin">
            @Model.Value.GetOriginalValue(0)
        </div>
        <div class="clear-fix"></div>              
        <h3 class="float-left Artist">Artist</h3>
        @Html.DisplayFor(c => c.Value, new { key = "Artist" })
    </div>
    <div class="ContentWrapper Album">
        @Html.Partial("Components/DataDelivery/Album", Model[0])
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix" ></div>
</div>
@Html.Partial("Components/DataDelivery/SongsWithCd", Model[0])

@*@for (int i = 1; i < Model.Count; i++)
{
    @Html.Partial("Components/DataDelivery/Album", Model[i])
    @Html.Partial("Components/DataDelivery/Songs", Model[i])
}*@
