@model Tree.TreeItem<FLUX.Web.MVC.ViewModels.MultiLayerDataContainer>

@{
    var childs = Model.GetChildren();
    
}
<ul class="overview">
    @for (int i = 0; i < childs.Count; i++)
    {
        <li>
            @*<a href='@("#Album" + i)' >@childs[i].Value.Data["Album"].First()</a>*@
        </li>
    }    
</ul>
<div class="MainTableContainer">    
    <table class="MainTable">
    <caption>@Html.Partial("LayerValues", Model.Value)</caption>
    <thead>
        <tr>
            <th>Jahr</th>
            <th>Album</th>
            <th>CD</th>
            <th>TrkNr</th>
            <th>Song</th>
        </tr>
    </thead> 
    <tbody class="body">
    @for (int i = 0; i < childs.Count; i++)
    {
        <tr class="spacer"><td colspan="5" ><a name='@("Album" + i)'></a><hr /> </td></tr>
        @Html.Partial("Album", childs[i])
    }
    </tbody>
</table>
</div>

