@model FLUX.DomainObjects.DataCollection


@*was soll passieren ? 
wir machen nur noch layer key geraffel 
wir soll jetzt einen wert rendern 
also 

title
    value
    value

wir brauchen ein 1 input feld - immer damit weggesposted wird 

aber nur das erste feld muss input sein 
der rest wie ggewohn span 

wenn der erste wert null ist 
nimm original value*@ 
@if (Model.LayerValues.Count == 0)
{
    <span>
        <input type="text" name="@Model.PostbackName" class="inValid" />
    </span>
}
else
{
    for (int i = 0; i < Model.LayerValues.Count; i++)
    {
        var layer = Model.LayerValues[i];

    <span class="layer@(i)">

        @if (i == 0)
        {
            string classN = "spanLook";
            if (string.IsNullOrEmpty(layer) && Model.IsLastElement)
            {
                layer = Model.OriginalValue;
                classN += " inValid";
            }
            <input type="text" name="@Model.PostbackName" class="@classN" value="@layer" />
        }
        else
        {
            <text>@layer</text>
        }
    </span>
    }
}