@model FLUX.DomainObjects.MultiLayerDataViewModel

<div class="container @Model.AdditionalClass">
    <div class="origin">@Model.OriginalValue</div>
    
    @{
        string spacer = "";
        foreach (var key in Model.Keys)
        {
            var data = Model.RetrieveData(key);
            <div class="@spacer">
                <h3>@key</h3>

                <div class="rightBlock">
                    @Html.Partial("DataCollection", Model.RetrieveData(key))
                </div>
            </div>
            if (spacer.Length == 0)
            {
                spacer = "spaceLeft";
            };
        }
    }
</div>